In [1]:
import pandas as pd
import numpy as np

# for database connection
import pyodbc

from random import randint

import datetime

In [2]:
data = pd.read_csv('entropy_data.csv')

In [3]:
data.shape

(6, 29)

In [4]:
data.head(5)

,Timestamp,Email address,What is your gender?,What is your age?,What is your highest level of education?,What is the size of your household (enter the number of people living in your residence/home)?,What is the name of the item you are storing?,"What is the name of the house you are storing this item in? (i.e. My apartment, Family house, or it can be an informal name like Georgetown)","What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.)",Which quadrant of the room is this item placed in? (see the image above for reference). The arrow shows the direction you are facing when you enter the room.,...,"What is the name of the house are you storing this item in? (i.e. My apartment, Family house, or it can be an informal name like Georgetown).1","What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.).2",Which quadrant of the room is this item placed in? (see the image above for reference). The arrow shows the direction you are facing when you enter the room..2,"If you would like to enter in a more personalized location description for this item, enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):.2",Would you like to enter in another item?.2,What is the name of the item you are storing?.3,"What is the name of the house are you storing this item in? (i.e. My apartment, Family house, or it can be an informal name like Georgetown).2","What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.).3",Which quadrant of the room is this item placed in? (see the image above for reference). The arrow shows the direction you are facing when you enter the room..3,"If you would like to enter in a more personalized location description for this item, enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):.3"
0,2019/11/17 4:26:47 PM PST,navjanar@gmail.com,Male,20-30,High school,2,water bottle,Boston,bedroom 1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019/11/17 4:29:44 PM PST,NaN,Female,20-30,High school,2,earring,my apartment,bedroom,1,...,my apartment,bedroom,2.0,next to the desk,No,NaN,NaN,NaN,NaN,NaN
2,2019/11/17 4:30:57 PM PST,tmacelli@uw.edu,Male,20-30,2 or 4 Year College,12,pen,landis,bedroom,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019/11/18 10:24:28 AM PST,Kylemcnulty@gmail.com,Male,20-30,2 or 4 Year College,3,Remote,Home,Living room,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019/11/19 7:36:43 PM PST,kathylt@uw.edu,Female,0-20,2 or 4 Year College,2,Retainer,My apartment,bathroom,1,...,My apartment,Kitchen/Dining room,3.0,On the kitchen island,No,NaN,NaN,NaN,NaN,NaN

In [5]:
"""time = Timestamp
email = Email address
gender = What is your gender?
age = What is your age?
edu = What is your highest level of education?
household_size = What is the size of your household (enter the number of people living in your residence/home)?

r1_item = What is the name of the item you are storing?
r1_name_of_house = What is the name of the house you are storing this item in? (i.e. My apartment, 
    Family house, or it can be an informal name like Georgetown)
r1_room = What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.)
r1_quad_of_room = Which quadrant of the room is this item placed in? (see the image above for reference). 
    The arrow shows the direction you are facing when you enter the room.
r1_loc_desc = If you would like to enter in a more personalized location description for this item, 
    enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):
    
r2_item = What is the name of the item you are storing?
r2_name_of_house = What is the name of the house you are storing this item in? (i.e. My apartment, 
    Family house, or it can be an informal name like Georgetown)
r2_room = What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.)
r2_quad_of_room = Which quadrant of the room is this item placed in? (see the image above for reference). 
    The arrow shows the direction you are facing when you enter the room.
r2_loc_desc = If you would like to enter in a more personalized location description for this item, 
    enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):

r3_item = What is the name of the item you are storing?
r3_name_of_house = What is the name of the house you are storing this item in? (i.e. My apartment, 
    Family house, or it can be an informal name like Georgetown)
r3_room = What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.)
r3_quad_of_room = Which quadrant of the room is this item placed in? (see the image above for reference). 
    The arrow shows the direction you are facing when you enter the room.
r3_loc_desc = If you would like to enter in a more personalized location description for this item, 
    enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):
    
r4_item = What is the name of the item you are storing?
r4_name_of_house = What is the name of the house you are storing this item in? (i.e. My apartment, 
    Family house, or it can be an informal name like Georgetown)
r4_room = What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.)
r4_quad_of_room = Which quadrant of the room is this item placed in? (see the image above for reference). 
    The arrow shows the direction you are facing when you enter the room.
r4_loc_desc = If you would like to enter in a more personalized location description for this item, 
    enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):
"""

'time = Timestamp\nemail = Email address\ngender = What is your gender?\nage = What is your age?\nedu = What is your highest level of education?\nhousehold_size = What is the size of your household (enter the number of people living in your residence/home)?\n\nr1_item = What is the name of the item you are storing?\nr1_name_of_house = What is the name of the house you are storing this item in? (i.e. My apartment, \n    Family house, or it can be an informal name like Georgetown)\nr1_room = What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.)\nr1_quad_of_room = Which quadrant of the room is this item placed in? (see the image above for reference). \n    The arrow shows the direction you are facing when you enter the room.\nr1_loc_desc = If you would like to enter in a more personalized location description for this item, \n    enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):\n    \nr2_item = What is the name of the item you are storing?\nr2_name_of_house = What is the name of the house you are storing this item in? (i.e. My apartment, \n    Family house, or it can be an informal name like Georgetown)\nr2_room = What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.)\nr2_quad_of_room = Which quadrant of the room is this item placed in? (see the image above for reference). \n    The arrow shows the direction you are facing when you enter the room.\nr2_loc_desc = If you would like to enter in a more personalized location description for this item, \n    enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):\n\nr3_item = What is the name of the item you are storing?\nr3_name_of_house = What is the name of the house you are storing this item in? (i.e. My apartment, \n    Family house, or it can be an informal name like Georgetown)\nr3_room = What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.)\nr3_quad_of_room = Which quadrant of the room is this item placed in? (see the image above for reference). \n    The arrow shows the direction you are facing when you enter the room.\nr3_loc_desc = If you would like to enter in a more personalized location description for this item, \n    enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):\n    \nr4_item = What is the name of the item you are storing?\nr4_name_of_house = What is the name of the house you are storing this item in? (i.e. My apartment, \n    Family house, or it can be an informal name like Georgetown)\nr4_room = What room are you storing the item in? (i.e. bathroom, living room, bedroom 1, etc.)\nr4_quad_of_room = Which quadrant of the room is this item placed in? (see the image above for reference). \n    The arrow shows the direction you are facing when you enter the room.\nr4_loc_desc = If you would like to enter in a more personalized location description for this item, \n    enter that here (i.e. I left my book on the second shelf of my nightstand next to my bed):\n'

In [6]:
data.columns = ['time', 'email', 'gender', 'age', 'edu', 'household_size', 
                            'r1_item', 'r1_name_of_house', 'r1_room', 'r1_quad_of_room', 'r1_loc_desc', 
                'add_item2', 'r2_item', 'r2_name_of_house', 'r2_room', 'r2_quad_of_room', 'r2_loc_desc', 
                'add_item3', 'r3_item', 'r3_name_of_house', 'r3_room', 'r3_quad_of_room', 'r3_loc_desc', 
                'add_item4', 'r4_item', 'r4_name_of_house', 'r4_room', 'r4_quad_of_room', 'r4_loc_desc']

In [7]:
data.head(5)

,time,email,gender,age,edu,household_size,r1_item,r1_name_of_house,r1_room,r1_quad_of_room,...,r3_name_of_house,r3_room,r3_quad_of_room,r3_loc_desc,add_item4,r4_item,r4_name_of_house,r4_room,r4_quad_of_room,r4_loc_desc
0,2019/11/17 4:26:47 PM PST,navjanar@gmail.com,Male,20-30,High school,2,water bottle,Boston,bedroom 1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019/11/17 4:29:44 PM PST,NaN,Female,20-30,High school,2,earring,my apartment,bedroom,1,...,my apartment,bedroom,2.0,next to the desk,No,NaN,NaN,NaN,NaN,NaN
2,2019/11/17 4:30:57 PM PST,tmacelli@uw.edu,Male,20-30,2 or 4 Year College,12,pen,landis,bedroom,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019/11/18 10:24:28 AM PST,Kylemcnulty@gmail.com,Male,20-30,2 or 4 Year College,3,Remote,Home,Living room,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019/11/19 7:36:43 PM PST,kathylt@uw.edu,Female,0-20,2 or 4 Year College,2,Retainer,My apartment,bathroom,1,...,My apartment,Kitchen/Dining room,3.0,On the kitchen island,No,NaN,NaN,NaN,NaN,NaN

In [8]:
# separate data per item data frames
df1 = data[['time', 'email', 'gender', 'age', 'edu', 'household_size', 'r1_item', 'r1_name_of_house', 
            'r1_room', 'r1_quad_of_room', 'r1_loc_desc']]

In [9]:
df2 = data[['time', 'email', 'gender', 'age', 'edu', 'household_size', 'r2_item', 'r2_name_of_house', 
            'r2_room', 'r2_quad_of_room', 'r2_loc_desc']]

In [10]:
df3 = data[['time', 'email', 'gender', 'age', 'edu', 'household_size', 'r3_item', 'r3_name_of_house', 
            'r3_room', 'r3_quad_of_room', 'r3_loc_desc']]

In [11]:
df4 = data[['time', 'email', 'gender', 'age', 'edu', 'household_size', 'r4_item', 'r4_name_of_house', 
            'r4_room', 'r4_quad_of_room', 'r4_loc_desc']]

In [12]:
#df1.shape (6, 11)
df1.columns  = ['time', 'email', 'gender', 'age', 'edu', 'household_size', 'item', 
                'name_of_house', 'room', 'quad_of_room', 'loc_desc']

In [13]:
#df2.shape (6, 11)
df2.columns  = ['time', 'email', 'gender', 'age', 'edu', 'household_size', 'item', 
                'name_of_house', 'room', 'quad_of_room', 'loc_desc']

In [14]:
#df3.shape (6, 11)
df3.columns  = ['time', 'email', 'gender', 'age', 'edu', 'household_size', 'item', 
                'name_of_house', 'room', 'quad_of_room', 'loc_desc']

In [15]:
#df4.shape (6, 11)
df4.columns  = ['time', 'email', 'gender', 'age', 'edu', 'household_size', 'item', 
                'name_of_house', 'room', 'quad_of_room', 'loc_desc']

In [16]:
# combine all data into one dataframe with each item on its own row
df = df1.append(df2, ignore_index='true')
df = df.append(df3, ignore_index='true')
df = df.append(df4, ignore_index='true')

In [17]:
df.shape

(24, 11)

In [18]:
# DROP INCORRECT DATA

In [19]:
# remove any rows with no item data
df_real = df.dropna(subset=['item']).reset_index(drop=True)

In [20]:
df_real

,time,email,gender,age,edu,household_size,item,name_of_house,room,quad_of_room,loc_desc
0,2019/11/17 4:26:47 PM PST,navjanar@gmail.com,Male,20-30,High school,2,water bottle,Boston,bedroom 1,3.0,NaN
1,2019/11/17 4:29:44 PM PST,NaN,Female,20-30,High school,2,earring,my apartment,bedroom,1.0,On my drawer
2,2019/11/17 4:30:57 PM PST,tmacelli@uw.edu,Male,20-30,2 or 4 Year College,12,pen,landis,bedroom,3.0,The pen is laying on my desk
3,2019/11/18 10:24:28 AM PST,Kylemcnulty@gmail.com,Male,20-30,2 or 4 Year College,3,Remote,Home,Living room,3.0,NaN
4,2019/11/19 7:36:43 PM PST,kathylt@uw.edu,Female,0-20,2 or 4 Year College,2,Retainer,My apartment,bathroom,1.0,On the shelf next to the sink
5,2019/11/22 1:20:45 PM PST,navjanar@uw.edu,Male,20-30,High school,4,phone,tristate,bedroom 1,2.0,NaN
6,2019/11/17 4:26:47 PM PST,navjanar@gmail.com,Male,20-30,High school,2,blanket,Boston,bedroom 1,3.0,NaN
7,2019/11/17 4:29:44 PM PST,NaN,Female,20-30,High school,2,bed,my apartment,bedroom,4.0,NaN
8,2019/11/17 4:30:57 PM PST,tmacelli@uw.edu,Male,20-30,2 or 4 Year College,12,AI Book,Landis,bedroom,4.0,Next to my bed
9,2019/11/19 7:36:43 PM PST,kathylt@uw.edu,Female,0-20,2 or 4 Year College,2,Reading glasses,My apartment,bedroom,2.0,On my nightstand next to my bed
10,2019/11/22 1:20:45 PM PST,navjanar@uw.edu,Male,20-30,High school,4,earbuds,tristate,bedroom 3,4.0,NaN
11,2019/11/17 4:29:44 PM PST,NaN,Female,20-30,High school,2,vacuum cleaner,my apartment,bedroom,2.0,next to the desk
12,2019/11/19 7:36:43 PM PST,kathylt@uw.edu,Female,0-20,2 or 4 Year College,2,headphones,My apartment,Kitchen/Dining room,3.0,On the kitchen island
13,2019/11/22 1:20:45 PM PST,navjanar@uw.edu,Male,20-30,High school,4,disney pen,tristate,bedroom 1,4.0,NaN
14,2019/11/22 1:20:45 PM PST,navjanar@uw.edu,Male,20-30,High school,4,calculator,tristate,bedroom 1,1.0,drawer on desk

In [21]:
# PUTTING DATA INTO THE DB:

In [22]:
# Connect to our database, and return our database connection
def connectToDB():
    print("Connecting to database")
    mydb = pyodbc.connect(
        'DRIVER={ODBC Driver 13 for SQL Server};SERVER=is-info430.ischool.uw.edu;DATABASE=Group3-Final;UID=INFO430;PWD=wubalubadubdub'
    )
    print("Done connecting")
    return mydb

In [23]:
# insert into floor
insertFloor = """
SET NOCOUNT ON; 
EXECUTE [Group3-Final].dbo.[insert_Floor]
@Name = ?, 
@HouseName = ?
"""

## missing floor name from the forms, generating random floor

In [24]:
# insert into house
insertHouse = """
SET NOCOUNT ON; 
EXECUTE [Group3-Final].dbo.[insert_House]
@Name = ?, 
@Description = ?
"""

## missing house description from the forms

In [25]:
# insert into house group
insertHouseGroup = """
SET NOCOUNT ON; 
EXECUTE [Group3-Final].dbo.[insert_HouseGroup]
@Name = ?, 
@FirstName = ?,
@LastName = ?,
@Email = ?, 
@HouseName = ?, 
@HouseDescription = ?
"""

## missing house description from the forms
## what is name??

In [26]:
# insert item
insertItem = """
SET NOCOUNT ON; 
EXECUTE [Group3-Final].dbo.[insert_Item]
@ItemName = ?, 
@ImgSrc = ?,
@LocationDescription = ?,
@Condition = ?, 
@PurchaseDate = ?, 
@ExpirationDate = ?, 
@QuadrantName = ?, 
@ItemTypeName = ?
"""

## missing condition, purchase date, expiration date, and item type name from forms

In [27]:
# insert item type
insertItemType = """
SET NOCOUNT ON; 
EXECUTE [Group3-Final].dbo.[insert_ItemType]
@Name = ?, 
@Description = ?
"""

## missing item description from forms

In [28]:
# insert quadrant
insertQuadrant = """
SET NOCOUNT ON; 
EXECUTE [Group3-Final].dbo.[insert_Quadrant]
@Name = ?, 
@RoomName = ?
"""

In [104]:
# insert room
insertRoom = """
SET NOCOUNT ON; 
EXECUTE [Group3-Final].dbo.[insert_Room]
@Name = ?, 
@FloorName = ?, 
@HouseName = ?,
@RoomTypeName = ?
"""

## missing room descrptions from forms

In [30]:
# insert room type
insertRoomType = """
SET NOCOUNT ON;
EXECUTE [Group3-Final].dbo.[insert_RoomType]
@Name = ?, 
@Description = ?
"""

## missing room type descriptions

In [31]:
# insert user
insertUser = """
SET NOCOUNT ON;
EXECUTE [Group3-Final].dbo.[insert_User]
@FirstName = ?,
@LastName = ?,
@Email = ?,
@PassHash = ?
"""

In [126]:
# open db connection
cursor = connectToDB();
c = cursor.cursor()

Connecting to database
Done connecting

In [127]:
# test for checking house exists in the database
#name_of_house = "Boston"
#c.execute("SELECT COUNT(*) FROM tblHouse WHERE HouseName = '" + name_of_house + "'")
#house_count = int(str(c.fetchall())[2:3])

In [128]:
for index, item in df_real.iterrows():
    # get necessary data and put into the the tables
    
    
    time = df_real['item'][index]
    
    # USER DATA:
    # need first name, need to update
    first_name = "fname" + str(index)
    
    # need last name, need to update
    last_name = "lname" + str(index)
    
    email = df_real['email'][index]
    if pd.isnull(email):
        email = "none" + str(index)
        
    # passw is replacing PassHash, need to update
    passw = "password" + str(index) 
    
    
    # ITEM INFORMATION:
    item = df_real['item'][index]
    
    # need to update item type to real item type not just name of item
    item_type = item + str(index)
    
    # need to update blank item description
    item_desc = ""
    
    # item img src is empty for now
    item_img_src = ""
    
    # blank condition description (not null)
    condition = "Good"
    
    # dummy purchase date & expiration date, need to update based on user input
    purchase = datetime.datetime(2019, 12, 2)
    expiration = datetime.datetime(2020, 12, 3)
    
    
    # HOUSE STORAGE INFORMATION:
    name_of_house = df_real['name_of_house'][index]
    
    # need to update home desc:
    home_desc = "Desc" + str(index)
    
    room = df_real['room'][index]
    
    # need to change this to room type when we get that data, for now same as room
    room_type = room + str(index)
    
    # room type desc blank for now, update later
    room_type_desc = ""
    
    quad_of_room = str(df_real['quad_of_room'][index])
    
    loc_desc = df_real['loc_desc'][index]
    if pd.isnull(loc_desc):
        loc_desc = ""
    
    # random floor number
    floor = str(randint(0, 3))
    
    
    # OTHER INFO (not necessary for database)
    gender = df_real['gender'][index]
    age = df_real['age'][index]
    edu = df_real['edu'][index]
    household_size = df_real['household_size'][index]
    
    
    # INSERT PARAMS CREATION
    insert_floor_params = (floor, name_of_house)
    insert_house_params = (name_of_house, home_desc)
    insert_user_params = (first_name, last_name, email, passw)
    insert_item_type_params = (item_type, item_desc)
    insert_room_type_params = (room_type, room_type_desc)
    insert_room_params = (room, floor, name_of_house, room_type)
    insert_quad_params = (quad_of_room, room)
    insert_item_params = (item, item_img_src, loc_desc, condition, purchase, expiration, quad_of_room, item_type)
    
    # need to update "what name" after figuring out what name this is
    insert_house_grp_params = ("what name", email, email, email, name_of_house, "")
    
    
    # EXECUTE INSERTS (WORKING)
    
    # execure insert house
    c.execute("SELECT COUNT(*) FROM tblHouse WHERE HouseName = '" + name_of_house + "'")
    house_count = int(str(c.fetchall())[2:3])
    if (house_count == 0):
        cursor.execute(insertHouse, insert_house_params)
        
    # execute insert floor
    c.execute("SELECT HouseID FROM tblHouse WHERE HouseName = '" + name_of_house + "'")
    house_id = str(c.fetchall())[2:3]

    c.execute("SELECT COUNT(*) FROM tblFloor WHERE FloorName = '" + floor + "' AND HouseID = '" + house_id + "'")
    floor_count = int(str(c.fetchall())[2:3])
    if (floor_count == 0):
        cursor.execute(insertFloor, insert_floor_params)
        
    cursor.execute(insertUser, insert_user_params)
    cursor.execute(insertItemType, insert_item_type_params)
    cursor.execute(insertRoomType, insert_room_type_params)
    
    
    # ERROR ONES:
    
    c.execute("SELECT FloorID FROM tblFloor WHERE FloorName = '" + floor + "'")
    floor_id = str(c.fetchall())[2:3]

    c.execute("SELECT COUNT(*) FROM tblRoom WHERE RoomName = '" + room + "' AND FloorID = '" + floor_id + "'")
    room_count = int(str(c.fetchall())[2:3])
    if (room_count == 0):
        cursor.execute(insertRoom, insert_room_params)
        
    # error with this one, below is error message:
    # Error: ('21000', '[21000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]
    # Subquery returned more than 1 value. This is not permitted when the subquery 
    # follows =, !=, <, <= , >, >= or when the subquery is used as an expression. (512) (SQLExecDirectW)') 
    
    # need room first
    cursor.execute(insertQuadrant, insert_quad_params)
    
    
    
    # integrity error with nulls:
    # IntegrityError: ('23000', "[23000] [Microsoft][ODBC Driver 13 for SQL Server]
    # [SQL Server]Cannot insert the value NULL into column 'RoomID', table 
    # 'Group3-Final.dbo.tblQuadrant'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW)")
    
    # need quadrant first
    cursor.execute(insertItem, insert_item_params)
    # integrity error with nulls:
    # IntegrityError: ('23000', "[23000] [Microsoft][ODBC Driver 13 for SQL Server]
    # [SQL Server]Cannot insert the value NULL into column 'QuadrantID', table 
    # 'Group3-Final.dbo.tblItem'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW)")
    
    #cursor.execute(insertHouseGroup, insert_house_grp_params)
    # error with this one, below is error message:
    # Error: ('21000', '[21000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]
    # Subquery returned more than 1 value. This is not permitted when the subquery 
    # follows =, !=, <, <= , >, >= or when the subquery is used as an expression. (512) (SQLExecDirectW)')    

    
    # DEBUG CODE:
    #print(email)
    #if pd.isnull(email):
    #   print("Oh no!")
    #print()
    
    #print(type(time))

Error: ('21000', '[21000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Subquery returned more than 1 value. This is not permitted when the subquery follows =, !=, <, <= , >, >= or when the subquery is used as an expression. (512) (SQLExecDirectW)')

In [129]:
# close db connection
cursor.commit()
cursor.close()